services:
    laravel.test:
        image: 'sail-8.4/app'
        build:
            context: ./vendor/laravel/sail/runtimes/8.4
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP:-1000}'
        ports:
           - '${APP_PORT:-80}:80'
           - '${VITE_PORT:-5173}:5173' 
           - '8081:8081' 
        environment:
            - LARAVEL_SAIL=1
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
        depends_on:
            - pgsql
            - redis
    pgsql:
        image: 'postgres:15'
        ports:
            - '${FORWARD_DB_PORT:-5432}:5432'
        environment:
            POSTGRES_DB: '${DB_DATABASE:-smart_transport}'
            POSTGRES_USER: '${DB_USERNAME:-sail}'
            POSTGRES_PASSWORD: '${DB_PASSWORD:-password}'
        networks:
            - sail
    redis:
        image: 'redis:alpine'
        networks:
            - sail
networks:
    sail:
        driver: bridge